[user]
	name = Marcel Zwart
	email = marcelzwart92@gmail.com
[core]
	editor = nvim
	eol = lf
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
